xml/definicoes.dtd

+ <!ELEMENT cardapio (prato+) >
+ <!ELEMENT prato (nome,descricao,ingredientes,preco,calorias,tempoPreparo) >

+ <!ATTLIST prato id ID #REREQUIRED>
+ <!ELEMENT ingredientes (ingrediente+)>
+ <!ELEMENT nome (#PCDATA)>
+ <!ELEMENT descricao (#PCDATA)>
+ <!ELEMENT ingrediente (#PCDATA)>
+ <!ELEMENT preco (#PCDATA)>
+ <!ELEMENT calorias (#PCDATA)>
+ <!ELEMENT tempoPreparo (#PCDATA)>
+ <!ATTLIST preco moeda (BRL | USD) "BRL">
+ <!ENTIDADE reais "R$">